body {
	position: relative;
	background-color: #FFFFFF;
	margin: 0 auto !important;
	width: 90%;
	overflow-x: hidden;
}

h1 {
	margin-left: 0px;
	width: 100%;
	color: black;
	font-family: 'Helvetica';
	font-size: 20pt;
}

h2 {
	margin-left: 0px;
	width: 100%;
	color: black;
	font-family: 'Helvetica';
	font-size: 14pt;
}

h3 {
	margin-left: 10px;
	width: 100%;
	color: black;
	font-family: 'Helvetica';
	font-size: 12pt;
}

p {
	margin-left: 10px;
	width: 100%;
	color: black;
	font-family: 'Helvetica';
	font-size: 12pt;
}

img {
	position: relative;
	width: 80%;
	height: auto;
	left: 50%;
	transform: translateX(-50%);
}

.bullets {
	color: black;
	font-family: 'Verdana';
	font-size: 13.5pt;
}