Package: com.isaac19197.SpoofCard
Version: 10.4.0
Name: SpoofCard
Section: Tweaks
Description: Used to make prank phone calls Please do not abuse this application.
Architecture: iphoneos-arm
Author: Isaac (isaac19197) <isaac19197@yahoo.com>
Maintainer: Isaac (isaac19197) <isaac19197@yahoo.com>
