Package: com.bootloopy.test
Version: 1.0.0
Name: Test Package
Section: Widgets
Depends:
Description: A Test Package
Architecture: iphoneos-arm
Author: Bootloopy (IDAoADI) <>
Maintainer: Bootloopy (IDAoADI) <>
Depiction: https://bootloopy.github.io/depictions/web/?p=com.bootloopy.test
