Package: com.bootloopy.test
Version: 1.0.0
Name: GoogleSearchXIV
Section: Widgets
Depends:
Description: A Google search widget for iOS 14.0-14.x.
Architecture: iphoneos-arm
Author: Bootloopy (IDAoADI) <>
Maintainer: Bootloopy (IDAoADI) <>
Depiction: https://www.bootloopy.github.io/depictions/test/index.html
