Package: com.booloopy.googlesearchxiv
Version: 1.0.1
Name: GoogleSearchXIV
Section: Widgets
Depends:
Description: A Google search widget for iOS 14.0-14.x.
Architecture: iphoneos-arm
Author: Bootloopy (IDAoADI) <>
Maintainer: Bootloopy (IDAoADI) <>
